* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  /* float: right; */
  padding-top: 15px;
  padding-right: 0px;
}

html {
  font-family: "Lucida Sans", sans-serif;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

.main-container {
  position: relative;
  /* border: 1px solid red; */
  height: 160px;
  margin: 10px;
  padding: 0px;
}

.purple-box {
  position: absolute;
  background:  hsl(246, 80%, 60%);
  height: 100px;
  width: 100%;
  left: 0px;
  border-radius: 15px;
  top: auto;
}

.dark-blue-box {
  position: absolute;
  background: hsl(235, 46%, 20%);;
  height: 120px;  
  width: 100%;
  left: 0px;
  border-radius: 15px;
  top: 40px; 
}

img {
  width: 100%;
  height: auto;
  border: 3px solid #ffffff;
}

.rubik-16px-300{
font-family: "Rubik", sans-serif;
font-optical-sizing: auto;
font-size: 16px;
font-weight: 300;
font-style: normal;
color: white;
}

.rubik-16px-400{
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  color: white;
}


.theme-box-work {
  position: absolute;
  background-image:  url("./images/icon-work.svg");
  background-position: right;
  background-repeat: no-repeat;
  background-color: hsl(15, 100%, 70%);
  height: 100px;
  width: 100%;
  left: 0px;
  border-radius: 15px;
  top: auto;
}

.theme-box-play {
  position: absolute;
  background-image:  url("./images/icon-play.svg");
  background-position: right;
  background-repeat: no-repeat;
  background-color: hsl(195, 74%, 62%);
  height: 100px;
  width: 100%;
  left: 0px;
  border-radius: 15px;
  top: auto;
}

.theme-box-study {
  position: absolute;
  background-image:  url("./images/icon-study.svg");
  background-position: right;
  background-repeat: no-repeat;
  background-color: hsl(348, 100%, 68%);
  height: 100px;
  width: 100%;
  left: 0px;
  border-radius: 15px;
  top: auto;
}

.theme-box-exercise {
  position: absolute;
  background-image:  url("./images/icon-exercise.svg");
  background-position: right;
  background-repeat: no-repeat;
  background-color:  hsl(145, 58%, 55%);
  height: 100px;
  width: 100%;
  left: 0px;
  border-radius: 15px;
  top: auto;
}

.theme-box-social {
  position: absolute;
  background-image:  url("./images/icon-social.svg");
  background-position: right;
  background-repeat: no-repeat;
  background-color: hsl(264, 64%, 52%);
  height: 100px;
  width: 100%;
  left: 0px;
  border-radius: 15px;
  top: auto;
}

.theme-box-self-care {
  position: absolute;
  background-image:  url("./images/icon-self-care.svg");
  background-position: right;
  background-repeat: no-repeat;
  background-color: hsl(43, 84%, 65%);
  height: 100px;
  width: 100%;
  left: 0px;
  border-radius: 15px;
  top: auto;
}

.dark-blue-box-mini {
  position: absolute;
  background: hsl(235, 46%, 20%);;
  height: 120px;  
  width: 100%;
  left: 0px;
  border-radius: 15px;
  top: 40px;
}